# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Docker
.env
.env.docker
*.log

# Database
postgres_data/
*.sqlite3

# PyCharm
*.iml
*.ipr
*.iws

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and coverage
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build
build/
dist/
*.egg-info/